# Ignore server files for safety
.htaccess
.htpasswd

# Ignore data/
data/

# Ignore vendor dir except PHP files
vendor/*.*
vendor/*/*.*
vendor/*/*/*.*
vendor/*/*/*/*.*
vendor/*/*/*/*/*.*
vendor/*/*/*/*/*/*.*
vendor/**/LICENSE
vendor/**/test
vendor/**/tst
vendor/**/tests
!vendor/**/*.php

# Ignore unit testing logs, api docs and eclipse project files
doc/
tst/log/
.settings
.buildpath
.project
.externalToolBuilders
