# Ignore server files for safety
.htaccess
.htpasswd

# Ignore data/
data/

# Ignore PhpDoc
doc/*
!doc/*.md

# Ignore vendor dir of Composer except PHP files
vendor/*.*
vendor/*/*.*
vendor/*/*/*.*
vendor/*/*/*/*.*
vendor/*/*/*/*/*.*
vendor/*/*/*/*/*/*.*
vendor/**/LICENSE
vendor/**/test
vendor/**/tst
vendor/**/tests
vendor/**/build_phar.php
!vendor/**/*.php

composer.lock

# Ignore unit testing logs, api docs and eclipse project files
tst/log/
.settings
.buildpath
.project
.externalToolBuilders
